.heading_container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0% 1vh 2%;
    align-items: center;
}

.heading_img {
    min-height: 2vh;
    max-height: 10vh;
    max-width: 45%;
    min-width: 1%;
}

.heading_container img:nth-child(1) {
    min-height: 2vh;
    max-height: 6vh;
    max-width: 23%;
    min-width: 2%;
}

.heading_container div img:nth-child(1) {
    min-height: 2vh;
    max-height: 9vh;
    max-width: 46%;
    min-width: 2%;
}

.heading_container div img:nth-child(2) {
    min-height: 2vh;
    max-height: 9vh;
    max-width: 40%;
    min-width: 1%;
}

.homepage {
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: 198px;
}

.homepage img {
    margin: 0;
    width: 100%;
    height: 70vh;
}

.home_container {
    margin: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    background: linear-gradient(to right, #050505bd 0%, transparent 100%);
}


.heading_back {
    display: flex;
    flex-direction: row;
    gap: 11px;
    margin-top: 98.98px;
}

.heading {
    font-weight: 300;
    /* font-family: Poppins; */
    font-size: 48.146px;
    color: aliceblue;
    text-transform: uppercase;
    line-height: 57.02px;
    letter-spacing: 0.03em;
    margin-top: 103px;
}

.heading span:nth-child(1) {

    color: rgb(20, 227, 20);
    font-weight: 600;
}

.download {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50px;
    margin: 0;
    position: relative;
    left: 0;
    right: 0;
    bottom: 7%;
    height: 161px;
}

@media screen and (max-width: 1450px) and (min-width: 1400px) {
.homepage img {
        height: 683px;

    }

    .download {
        bottom: -111.02px;
    }

   

    .heading {
        width: 539px;
    }

}

@media screen and (max-width: 1220px) {
    .download {
        bottom: -4%;
    }

    .home_container {
        height: 85vh;
        background: linear-gradient(to bottom, #050505 0%, transparent 100%);
    }

    .heading_back {
        flex-direction: column;
        justify-content: start;
        margin: 35px 20px 0 20px;
        text-align: center;
        gap: 30px;
    }

    .heading {
        font-size: 35.11px;
    }

   .homepage img {
        height: 85vh;
    }

}


@media screen and (max-width: 720px) {

    .download {
        bottom: -9%;
    }

        .homepage img {
        height: 90vh;
    }

    .home_container {
        height: 90vh;
        background: linear-gradient(to bottom, #050505 0%, transparent 100%);
    }
}

@media screen and (max-width: 450px) {
    .download {
        bottom: -13%;
    }

        .homepage img {
        height: 95vh;
    }

    .home_container {
        height: 95vh;
        background: linear-gradient(to bottom, #050505 0%, transparent 100%);
    }
}

@media screen and (max-width: 450px) {

    .download {
        bottom: -15%;
    }
}