.heading_navbar{
    
    width: 100%;
}
.heading_container{
display: flex;
    justify-content: space-between;
    /* padding: 3vh 2vh 3vh 2vh; */
    padding: 2vh 0% 2vh 2%;
    align-items: center;
}
.heading_img{
    height: 8vh;
    max-width: 45%;
    min-width: 15%;
    /* width: 10%; */
}
.homepage{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    
}
.home_container{
    justify-content:space-between;
    display: flex;
    flex-direction: row;
    /* padding: 60px 30px; */
    align-items: center;
}
.heading_back{
    height: 86vh;
    width: 60vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    background-color: #0505051f;
    background: linear-gradient(to right, #050505 0%,#0505056d 40%,transparent 100%);
}
.heading{
    font-weight: 300;
    font-family:'Poppins';
    font-size: 60px;
    color: aliceblue;
    width: 37vw;
    text-transform: uppercase;
}
.heading  span{

    color: rgb(20, 227, 20);
    font-weight: 700;
}