.journey{
    width: 100%;
    margin-bottom: 100px;
   
}
.journey_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    padding: 0px 23.5px;
}
.journey_img {
    display: flex;
    justify-content: center;
    align-items: center
}
.journey_img img{
   width: 665px;
   height: 409px;
}

.journey_context div:nth-child(1){
    font-size: 36px;
    font-weight: 800;
    color: rgba(88, 88, 88, 1);
    text-transform: uppercase;

}
.journey_context p:nth-child(2){
    font-size: 20px;
    font-weight: 400;
    color: rgba(88, 88, 88, 1);
    line-height: 30px;
}
.readmore{
    color: rgba(88, 88, 88, 1);
    font-weight: 800;
}



@media screen and (max-width: 1300px) {
    .journey_img img {
        width: 567px;
    }
}
@media screen and (max-width: 900px) {
    .journey_container {
        display: block;
        justify-content: space-between;
    }

    .journey_img img {
        width: 767px;
    }
        .journey_context div:nth-child(1) {
            font-size: 42px;
        }
    
        .journey_context p:nth-child(2) {
            font-size: 20px;
        }
}
@media screen and (max-width: 900px) {
    .journey_img img {
        width: 467px;
    }
}
@media screen and (max-width: 500px) {
    .journey_img img {
        width: 307px;
    }
           .journey_context div:nth-child(1) {
               font-size: 30px;
           }
    
           .journey_context p:nth-child(2) {
               font-size: 20px;
           }
}