.journey{
    width: 100%;
    
}
.journey_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 200px 20px;
}
.journey_img {
    display: flex;
    justify-content: center;
    align-items: center
}
.journey_img img{
   width: 870px;
}
.journey_context{

}
.journey_context div:nth-child(1){
    font-size: 52px;
    font-weight: 700;
    color: rgba(88, 88, 88, 1);
}
.journey_context p:nth-child(2){
    font-size: 30px;
    font-weight: 400;
    color: rgba(88, 88, 88, 1);
}




@media screen and (max-width: 1300px) {
    .journey_img img {
        width: 567px;
    }
}
@media screen and (max-width: 900px) {
    .journey_container {
        display: block;
        justify-content: space-between;
    }

    .journey_img img {
        width: 767px;
    }
}
@media screen and (max-width: 900px) {
    .journey_img img {
        width: 467px;
    }
}
@media screen and (max-width: 500px) {
    .journey_img img {
        width: 307px;
    }
}