.yatri {
    margin: 0 23px;
    margin-bottom: 100px;
}

.heading_yatri_laptop {
    font-size: 60px;
    font-weight: 800;
    color: rgba(88, 88, 88, 1);
    line-height: 89.1px;
    margin-bottom: 44px;
}

.heading_yatri_phones {
    display: none;
}

.yatri_container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
}

.yatri_img img {
    width: 580px;
}

.yatri_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    margin-bottom: 30px;
    justify-content: stretch
}

.yatri_item img {
    width: 66px;
    height: 62.4px;
}


.yatri_context div:nth-child(1) {
    color: rgba(33, 105, 0, 1);
    font-weight: 600;
    font-size: 20px;
    font-family: Poppins;
    line-height: 30px;
    text-transform: uppercase;
}

.yatri_context div:nth-child(2) {
    color: rgba(88, 88, 88, 1);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;

}

/* @media screen and (max-width: 1220px) {
    .yatri {
        margin-top: 15%;
    }

    .yatri_container {
        flex-direction: column;
    }

    .heading_yatri_phones {
        font-size: 60px;
        font-weight: 500;
        color: rgba(88, 88, 88, 1);
        line-height: 45px;
        display: flex;
        justify-content: center;
        
    }

    .heading_yatri_laptop {
        display: none;
    }
.yatri_img{
    display: flex;
    justify-content: center
}
    .yatri_img img {
        min-width: 30%;
        max-width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .yatri {
        margin-top: 45%;
    }

} */

@media screen and (max-width: 500px) {
    .heading_yatri_phones {
        font-size: 30px;
        font-weight: 500;
        color: rgba(88, 88, 88, 1);
        line-height: 45px;
        display: flex;
        justify-content: center;

    }

    .heading_yatri_laptop {
        display: none;
    }

    .yatri_container {
        flex-direction: column;
    }
        .yatri_img img {
            width: 294px;
        }

}